* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.nav-link:hover, .nav-link:focus {
    color: white;
}

.navbar-brand {
    width: 7% !important;
}

.navbar-nav, footer {
    font-size: 0.8rem;
}

.navEnd {
    width: 15%;
}

i {
    font-size: 0.8rem;
}

.size {
    width: 13% !important;
}

.dropdown-item img {
    width: 10%;
}

.dropdown-menu {
    width: 10% !important;
}

h1 {
    font-size: 1.5em;
}

select {
    font-size: 0.7em;
}

h2 {
    font-size: 1.3em;
}

footer, footer i, footer button {
    color: #818181;
}

footer button {
    border-color: #818181;
}

#copy {
    font-size: 0.5rem;
}

#ratings {
    background-color: #333333;
    font-size: 0.8em !important;
}

label, .settings {
    font-size: 0.8em;
}

.profileBtns:hover, .profileBtns:focus {
    background-color: white !important;
    color: black !important;
}

@media screen and (max-width: 767px) {
    #avatar {
        width: 50% !important;
    } 
}